<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-title">Status: {{status}}</h6>
    <p class="card-text">{{description}}</p>
    <small>{{formatDate createdAt}}</small>
  </div>
</div>