{{> public-navbar}}

<div
  class="
    position-absolute
    top-50
    start-50
    translate-middle
    text-center
    w-50
  "
>
  <form id="signup-form">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="First Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Last Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email Address"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <div class="mb-3 d-grid gap-2">
      <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
    </div>
  </form>
</div>